*,
*:before,
*:after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Bold.woff") format('woff'),
    url("./fonts/Inter-Bold.woff2") format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Italic.woff") format('woff'),
    url("./fonts/Inter-Italic.woff2") format('woff2');
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Medium.woff") format('woff'),
    url("./fonts/Inter-Medium.woff2") format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url("./fonts/Inter-Regular.woff") format('woff'),
    url("./fonts/Inter-Regular.woff2") format('woff2');
    font-weight: 400;
}


html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background: #e5e5e5;
    color: #000000;
    margin: 0 auto;
    font-weight: 300;
}