.header__input {
    font-size: 16px;
    color: #BFBFBF;
    width: 100%;
    padding: 9px 12px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.003);
    margin: 20px 0 34px 0;

}