.ant-tabs-top .ant-tabs-nav {
    margin: 0 auto;
}

.ant-tabs-tab {
    padding: 15px;
}

.ant-tabs-tab + .ant-tabs-tab {
    margin: 0;
}

.ant-pagination {

    /*margin: 30px auto;*/
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}