.card {
    position: relative;
    font-family: Inter, sans-serif;
    width: 99%;
    height: 280px;
    font-size: 12px;
    display: flex;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
}


.card__content {
    padding: 10px 20px;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #e9d100;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 500;
}

.card__content h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.card__content .date {
    font-size: 12px;
    color: #827E7E;
    margin-bottom: 10px;
    font-weight: 400;
}

.genre {
    margin-bottom: 9px;
}

.card__content .genre button {
    padding: 0 2px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background-color: #FAFAFA;
    color: #575757;
}

.card__content p {
    max-height: 110px;
    overflow: hidden;
}

.stars {
    position: relative;
    bottom: -15px;
    right: 0;
}

.ant-rate {
    font-size: 17px;
}

.ant-rate-star:not(:last-child) {
    margin-right: 5px;
}
